ODDS_API_KEY=din-nyckel-fran-the-odds-api.com
FOOTBALL_DATA_API_KEY=din-nyckel-fran-football-data.org
BINANCE_TESTNET_API_KEY=din-nyckel-fran-testnet.binance.vision
BINANCE_TESTNET_API_SECRET=din-hemlighet-fran-testnet.binance.vision
