# Product Hunt developer token: https://www.producthunt.com/v2/oauth/applications
PRODUCTHUNT_TOKEN=

# Bolagsverket – Värdefulla datamängder (kostnadsfritt, ansök om inloggning på bolagsverket.se)
BOLAGSVERKET_CLIENT_ID=
BOLAGSVERKET_CLIENT_SECRET=
